.carousel {
    position: relative;
    grid-column: 1/13;
    margin-left: -5.5%;
    height: 100vh;
}


.h1 {
    margin-top: 40vh;
    margin-bottom: 120px;
}

.hero-legend {
    position: absolute;
    bottom: 8px;
    left: 12px;
}

@media screen and (min-width: 620px) {
    .carousel {
        grid-column: 6/13;

    }

    .h1 {
        margin-top: 55vh;
        margin-bottom: 0px;
    }
}